#card {
  width: 640px;
  height: 480px;
  margin: auto;
}

#card > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

.ba-slider{
  width: 500px;
  margin: auto;
  border: 5px solid #000;
}

.slider{
  max-width: 640px;
  margin:auto;
}
