#card {
  width: 640px;
  height: 480px;
  margin: auto;
}

#card > img {
  border: 15px solid #FFF;
  box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

.ba-slider{
  width: 500px;
  margin: auto;
  border: 5px solid #000;
}

.slider{
  max-width: 640px;
  margin:auto;
}
.slider img{
  border-radius: 70px;
}

p, h3, h1{
  text-align: center;
}
body{
  color: #f0f0f0;
  background: #001ac2;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#0084d6), to(#001ac2));
  background: -webkit-radial-gradient(#0084d6, #001ac2);
  background: -moz-radial-gradient(#0084d6, #001ac2);
  background: -ms-radial-gradient(#0084d6, #001ac2);
  background: -o-radial-gradient(#0084d6, #001ac2);
  background: radial-gradient(#0084d6, #001ac2);
}

#p_detras{
  position:absolute;
  top: 110px;
  z-index: -5;
}

#cont_playas img{
  border: 10px solid #fff;
}

#enanos{
  position: relative;
  left:10%;
  top: 25px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border: 5px solid #000;
  box-shadow: 0 0 25px RGBA(0,0,0, .75);
}

.step .islas{
  position:absolute;
  z-index: -10;
  display: none;
}

.past h3{
  display: none;
}
.past p{
  display: none;
}
.past h1{
  display: none;
}
.past img{
  display: none;
}
.past span{
  display: none;
}
.past button{
  display:none
}
.past div{
  display: none;
}

.past .islas{
  display: block;
  z-index:5;
  position: absolute;
}
.past .islas img{
  display: block;
}
